/*
 * レスポンシブWEB　Default CSS
 */
@charset "utf-8";

#wrapper {
  width: 95%;
}
#header {
  width: 100%;
}
#main {
  width: 60%;
  float: left;
}
#right_side {
  width: 30%;
  float: right;
}
#footer {
  width: 100%;
}
img {
width: 100%;
height: auto;
}